/* Code for the /r/BuddyMurphy subreddit */
/*---by g6in3d---*/
/* add image to the bottom of the sidebar */

#header {
 border-bottom: 1px solid #001648;
}

#header-img {
 margin-top: 0px;
 margin-left: 5px;
 margin-right: 25px;
}

.side .usertext-body{ padding-bottom: 300px; background: url(%%OldBuddyMurphyRender%%) no-repeat; background-position: bottom center; }


/*---------FLAIRS-----------*/
.flair-nxttagtitle{
  background-image: url(%%NXTtagtitlesprite%%) !important;
  background-repeat: no repeat !important; /*not fixing issue*/
  padding: 5px 5px 5px 5px !important;
  color: #E6B520;
  font-weight: bold;
}

