################################################################################
# Switches
################################################################################
NET "S1" LOC = P80 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "S2" LOC = P79 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP ;
#################################################################################
# LEDs
#################################################################################
NET "LED1" LOC = P54 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "LED2" LOC = P55 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#################################################################################
