NET "SevenSD[0]" LOC = P117 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "SevenSD[1]" LOC = P116 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "SevenSD[2]" LOC = P115 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "SevenSD[3]" LOC = P113 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "SevenSD[4]" LOC = P112 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "SevenSD[5]" LOC = P111 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "SevenSD[6]" LOC = P110 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "SevenSD[7]" LOC = P114 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

NET "Enable" LOC = P120 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

NET "DIPSW[0]" LOC = P58 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "DIPSW[1]" LOC = P59 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "DIPSW[2]" LOC = P60 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "DIPSW[3]" LOC = P63 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
