#LEDS####
NET "q[0]" LOC = P46 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "q[1]" LOC = P47 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "q[2]" LOC = P48 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "q[3]" LOC = P49 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "q[4]" LOC = P50 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "q[5]" LOC = P51 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "q[6]" LOC = P54 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "q[7]" LOC = P55 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

NET "clk" LOC = P129 | IOSTANDARD = LVTTL | PERIOD = 12 MHz;

NET "d[0]" LOC = P70 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "d[1]" LOC = P69 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "d[2]" LOC = P68 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "d[3]" LOC = P64 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "d[4]" LOC = P63 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "d[5]" LOC = P60 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "d[6]" LOC = P59 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "d[7]" LOC = P58 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PULLUP;
